n8n-workflows/docs-feedback-spam-alert.json
{
  "name": "Docs Feedback Spam Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "3588f35980748075be9eedc81b512a65"
        },
        "returnAll": false,
        "limit": 101,
        "filterType": "string",
        "jsonNotice": "",
        "filterJson": "={{ JSON.stringify({ filter: { property: 'Created time', created_time: { past_week: {} } }, sorts: [{ property: 'Created time', direction: 'descending' }] }) }}"
      },
      "name": "Recent Feedbacks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [420, 300],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Notion (Docs Feedback)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count how many feedbacks were created in the last hour\nconst now = Date.now();\nconst oneHourAgo = now - 60 * 60 * 1000;\n\nconst items = $input.all();\nlet recentCount = 0;\n\nfor (const item of items) {\n  const createdTime = item.json.created_time || item.json.Created_time;\n  if (createdTime) {\n    const ts = new Date(createdTime).getTime();\n    if (ts >= oneHourAgo) {\n      recentCount++;\n    }\n  }\n}\n\nreturn [{ json: { recentCount, threshold: 100, isSpam: recentCount > 100 } }];"
      },
      "name": "Count Last Hour",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-spam",
              "leftValue": "={{ $json.isSpam }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Spam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '\\u26a0\\ufe0f *Docs Feedback Spam Alert*\\n' + $json.recentCount + ' feedbacks received in the last hour (threshold: 100).\\nPossible spam attack on the docs feedback widget. Check the Notion database.' }) }}"
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200]
    },
    {
      "parameters": {},
      "name": "No Alert Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 420]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Recent Feedbacks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recent Feedbacks": {
      "main": [
        [
          {
            "node": "Count Last Hour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Last Hour": {
      "main": [
        [
          {
            "node": "Is Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Spam?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    {
      "name": "docs-feedback"
    }
  ]
}
