n8n-workflows/docs-feedback-webhook.json
{
  "name": "Docs Feedback Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docs-feedback",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://docs.strapi.io,https://docs-next.strapi.io,http://localhost:3000"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "docs-feedback"
    },
    {
      "parameters": {
        "jsCode": "// ----- Node 2: Validate -----\n// Checks origin, custom header, and payload shape.\n// Returns cleaned data (status 200) or an error object.\n\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst body = item.body || {};\n\n// 1. Origin check\nconst origin = headers['origin'] || '';\nconst allowed = [\n  'https://docs.strapi.io',\n  'https://docs-next.strapi.io',\n  'http://localhost:3000'\n];\nif (!allowed.some(o => origin.startsWith(o))) {\n  return [{ json: { error: 'origin_rejected', status: 403 } }];\n}\n\n// 2. Custom header check\nconst source = headers['x-feedback-source'] || '';\nif (source !== 'docs-widget') {\n  return [{ json: { error: 'source_header_missing', status: 403 } }];\n}\n\n// 3. Vote validation\nconst validVotes = ['up', 'down'];\nif (!validVotes.includes(body.vote)) {\n  return [{ json: { error: 'invalid_vote', status: 400 } }];\n}\n\n// 4. Kind validation\nconst validKinds = ['page', 'selection', 'element'];\nif (!validKinds.includes(body.kind)) {\n  return [{ json: { error: 'invalid_kind', status: 400 } }];\n}\n\n// 5. Comment required for downvotes, min 20 chars\nif (body.vote === 'down') {\n  if (!body.comment || body.comment.trim().length < 20) {\n    return [{ json: { error: 'comment_required_for_downvote', status: 400 } }];\n  }\n}\n\n// 6. Comment max length\nif (body.comment && body.comment.length > 2000) {\n  return [{ json: { error: 'comment_too_long', status: 400 } }];\n}\n\n// All checks passed -- return cleaned data\nreturn [{\n  json: {\n    vote: body.vote,\n    kind: body.kind,\n    comment: (body.comment || '').trim().slice(0, 2000),\n    pagePath: (body.pagePath || '').slice(0, 500),\n    pageId: (body.pageId || '').slice(0, 500),\n    pageTitle: (body.pageTitle || '').slice(0, 500),\n    honeypot: body._hp || '',\n    ip: headers['x-forwarded-for'] || 'unknown',\n    userAgent: headers['user-agent'] || '',\n    status: 200\n  }\n}];"
      },
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "condition-honeypot",
              "leftValue": "={{ $json.honeypot }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Anti-Spam Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: '3588f35980748075be9eedc81b512a65' }, properties: { 'Feedback ID': { title: [{ text: { content: $json.pagePath + ' - ' + $json.vote } }] }, 'Vote': { select: { name: $json.vote } }, 'Kind': { select: { name: $json.kind } }, 'Comment': { rich_text: [{ text: { content: $json.comment } }] }, 'Page title': { rich_text: [{ text: { content: $json.pageTitle } }] }, 'Page ID': { rich_text: [{ text: { content: $json.pageId } }] }, 'Page path': { rich_text: [{ text: { content: $json.pagePath } }] }, 'User agent': { rich_text: [{ text: { content: $json.userAgent } }] }, 'Status': { select: { name: 'new' } } } }) }}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "notionApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Notion API key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: $json.id || 'created' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ $('Webhook').first().json.headers.origin }}"
              }
            ]
          }
        }
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: 'ack' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ $('Webhook').first().json.headers.origin }}"
              }
            ]
          }
        }
      },
      "name": "Respond Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Anti-Spam Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti-Spam Check": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    {
      "name": "docs-feedback"
    }
  ]
}
